**BITS F464 - Semester 1 - MACHINE LEARNING**
--------------------------------------------------------------------------------

**ASSIGNMENT 1 - LINEAR MODELS FOR REGRESSION AND CLASSIFICATION**
--------------------------------------------------------------------------------
***Team number:***

---
(*In Title case, separated with commas*)
***Full names of all students in the team:***

---
(*Separated by commas*)
***Id number of all students in the team:***

# **_1. Dataset Generation_**

You are given a sample Diabetes dataset. Using this, please develop your own dataset consisting of 500 records. You can use the given code to generate your own dataset. Submit the generated dataset as a .csv file along with your python notebook.

In [81]:
%pip install sdv
%pip uninstall urllib3 --y
%pip install urllib3==1.26.7
exit()

Requirement already satisfied: sdv in /usr/local/python/3.10.8/lib/python3.10/site-packages (1.4.0)
Requirement already satisfied: boto3<2,>=1.15.0 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (1.28.50)
Requirement already satisfied: botocore<2,>=1.18 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (1.31.50)
Requirement already satisfied: cloudpickle<3.0,>=2.1.0 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (2.2.1)
Requirement already satisfied: Faker<15,>=10 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (14.2.1)
Requirement already satisfied: graphviz<1,>=0.13.2 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (0.20.1)
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (4.66.1)
Requirement already satisfied: copulas<0.10,>=0.9.0 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (0.9.1)
Requirement already satisfied: ctgan<0.8,>=0.7.4 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (0.7.4)
Requirement already satisfied: deepecho<0.5,>=0.4.2 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (0.4.2)
Requirement already satisfied: rdt<2,>=1.7.0 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (1.7.0)
Requirement already satisfied: sdmetrics<0.12,>=0.11.0 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (0.11.1)
Requirement already satisfied: numpy<1.25.0,>=1.23.3 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sdv) (1.24.4)
Requirement already satisfied: pandas>=1.3.4 in /home/codespace/.local/lib/python3.10/site-packages (from sdv) (2.1.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from boto3<2,>=1.15.0->sdv) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from boto3<2,>=1.15.0->sdv) (0.6.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/codespace/.local/lib/python3.10/site-packages (from botocore<2,>=1.18->sdv) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from botocore<2,>=1.18->sdv) (1.26.7)
Requirement already satisfied: matplotlib<4,>=3.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from copulas<0.10,>=0.9.0->sdv) (3.7.3)
Requirement already satisfied: scipy<2,>=1.9.2 in /home/codespace/.local/lib/python3.10/site-packages (from copulas<0.10,>=0.9.0->sdv) (1.11.2)
Requirement already satisfied: scikit-learn<2,>=1.1.3 in /home/codespace/.local/lib/python3.10/site-packages (from ctgan<0.8,>=0.7.4->sdv) (1.3.0)
Requirement already satisfied: torch>=1.11.0 in /home/codespace/.local/lib/python3.10/site-packages (from ctgan<0.8,>=0.7.4->sdv) (2.0.1)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.3.4->sdv) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.3.4->sdv) (2023.3)
Requirement already satisfied: psutil<6,>=5.7 in /home/codespace/.local/lib/python3.10/site-packages (from rdt<2,>=1.7.0->sdv) (5.9.5)
Requirement already satisfied: plotly<6,>=5.10.0 in /home/codespace/.local/lib/python3.10/site-packages (from sdmetrics<0.12,>=0.11.0->sdv) (5.16.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib<4,>=3.6.0->copulas<0.10,>=0.9.0->sdv) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib<4,>=3.6.0->copulas<0.10,>=0.9.0->sdv) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib<4,>=3.6.0->copulas<0.10,>=0.9.0->sdv) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib<4,>=3.6.0->copulas<0.10,>=0.9.0->sdv) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib<4,>=3.6.0->copulas<0.10,>=0.9.0->sdv) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib<4,>=3.6.0->copulas<0.10,>=0.9.0->sdv) (10.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib<4,>=3.6.0->copulas<0.10,>=0.9.0->sdv) (3.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from plotly<6,>=5.10.0->sdmetrics<0.12,>=0.11.0->sdv) (8.2.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2,>=1.18->sdv) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn<2,>=1.1.3->ctgan<0.8,>=0.7.4->sdv) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn<2,>=1.1.3->ctgan<0.8,>=0.7.4->sdv) (3.2.0)
Requirement already satisfied: filelock in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (3.12.4)
Requirement already satisfied: typing-extensions in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (4.7.1)
Requirement already satisfied: sympy in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (1.12)
Requirement already satisfied: networkx in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (3.1)
Requirement already satisfied: jinja2 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (3.1.2)
Requirement already satisfied: nvidia-cuda-nvrtc-cu11==11.7.99 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (11.7.99)
Requirement already satisfied: nvidia-cuda-runtime-cu11==11.7.99 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (11.7.99)
Requirement already satisfied: nvidia-cuda-cupti-cu11==11.7.101 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (11.7.101)
Requirement already satisfied: nvidia-cudnn-cu11==8.5.0.96 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (8.5.0.96)
Requirement already satisfied: nvidia-cublas-cu11==11.10.3.66 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (11.10.3.66)
Requirement already satisfied: nvidia-cufft-cu11==10.9.0.58 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (10.9.0.58)
Requirement already satisfied: nvidia-curand-cu11==10.2.10.91 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (10.2.10.91)
Requirement already satisfied: nvidia-cusolver-cu11==11.4.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (11.4.0.1)
Requirement already satisfied: nvidia-cusparse-cu11==11.7.4.91 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (11.7.4.91)
Requirement already satisfied: nvidia-nccl-cu11==2.14.3 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (2.14.3)
Requirement already satisfied: nvidia-nvtx-cu11==11.7.91 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (11.7.91)
Requirement already satisfied: triton==2.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (2.0.0)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.10/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (68.0.0)
Requirement already satisfied: wheel in /home/codespace/.local/lib/python3.10/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (0.41.2)
Requirement already satisfied: cmake in /home/codespace/.local/lib/python3.10/site-packages (from triton==2.0.0->torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (3.27.4.1)
Requirement already satisfied: lit in /home/codespace/.local/lib/python3.10/site-packages (from triton==2.0.0->torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (16.0.6)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.10/site-packages (from jinja2->torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /home/codespace/.local/lib/python3.10/site-packages (from sympy->torch>=1.11.0->ctgan<0.8,>=0.7.4->sdv) (1.3.0)
Note: you may need to restart the kernel to use updated packages.
Found existing installation: urllib3 1.26.7
Uninstalling urllib3-1.26.7:
  Successfully uninstalled urllib3-1.26.7
Note: you may need to restart the kernel to use updated packages.
Collecting urllib3==1.26.7
  Using cached urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
Installing collected packages: urllib3
Successfully installed urllib3-1.26.7
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from sdv.lite import SingleTablePreset
from sdv.metadata import SingleTableMetadata
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
import random

In [3]:
real_data=pd.read_excel("diabetes2.xlsx")

In [4]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(real_data)

In [5]:
Synthesizer = SingleTablePreset(
    metadata,
    name='FAST_ML'
)

In [6]:
Synthesizer.fit(
    data=real_data
)

In [7]:
Synthetic_data = Synthesizer.sample(
    num_rows=10000
)

In [8]:
Synthetic_data.to_csv("Generated_data")

In [9]:
Synthetic_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,4,151,78,10,65,36.280343,0.664665,45,1
1,4,104,101,24,29,37.394831,0.078000,27,0
2,3,109,93,36,265,21.725647,0.348009,31,1
3,5,86,47,12,108,25.372657,0.763315,22,1
4,1,101,26,32,68,32.259080,0.325648,29,0
...,...,...,...,...,...,...,...,...,...
9995,2,114,68,25,79,30.544980,0.078000,25,0
9996,4,102,57,2,0,27.788010,0.487014,38,0
9997,1,144,82,33,143,30.672180,0.399084,34,1
9998,12,181,78,14,76,46.479313,0.800673,49,1
9999,0,44,64,24,0,19.946644,0.595687,21,0

# ***2. Preprocess and perform exploratory data analysis of the dataset obtained***

In [10]:
df = pd.read_csv("Generated_data")
df.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,4,151,78,10,65,36.280343,0.664665,45,1
1,1,4,104,101,24,29,37.394831,0.078000,27,0
2,2,3,109,93,36,265,21.725647,0.348009,31,1
3,3,5,86,47,12,108,25.372657,0.763315,22,1
4,4,1,101,26,32,68,32.259080,0.325648,29,0

In [11]:
df.shape

(10000, 10)

In [12]:
df.dtypes

Unnamed: 0                    int64
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                10000 non-null  int64
 1   Pregnancies               10000 non-null  int64
 2   Glucose                   10000 non-null  int64
 3   BloodPressure             10000 non-null  int64
 4   SkinThickness             10000 non-null  int64
 5   Insulin                   10000 non-null  int64
 6   BMI                       10000 non-null  float64
 7   DiabetesPedigreeFunction  10000 non-null  float64
 8   Age                       10000 non-null  int64
 9   Outcome                   10000 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 781.4 KB

In [14]:
df = df.sample(frac=1, random_state=42)
df = df.reset_index(drop=True)

In [15]:
split_ratio = 0.8

total_rows = len(df)
train_rows = int(split_ratio * total_rows)
test_rows = total_rows - train_rows

train_data = df.iloc[:train_rows, :]
test_data = df.iloc[train_rows:, :]

In [16]:
train_data

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6252,0,49,16,3,111,12.706915,0.408102,24,0
1,4684,6,151,91,1,63,42.754504,0.078000,29,1
2,1731,4,104,65,49,201,36.673367,0.492843,21,0
3,4742,3,115,60,24,28,32.738281,0.557827,21,0
4,4521,0,125,64,17,197,31.723835,0.753576,21,1
...,...,...,...,...,...,...,...,...,...,...
7995,1638,6,132,86,38,214,33.294262,0.297307,23,0
7996,5891,7,151,70,20,47,32.835121,0.105262,44,0
7997,7427,6,162,81,33,97,43.938719,0.476641,42,1
7998,608,2,158,56,15,204,33.463881,0.416570,32,0
7999,6907,5,156,44,34,263,41.027184,1.023324,44,1

In [17]:
test_data

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8000,399,4,99,72,7,109,28.907563,0.311843,32,0
8001,7247,7,144,64,8,108,25.898019,0.176388,31,0
8002,6406,0,118,87,58,257,44.880034,0.806956,25,1
8003,882,7,71,50,7,0,37.581558,0.508558,43,0
8004,3565,1,76,56,28,168,44.582454,0.587076,31,0
...,...,...,...,...,...,...,...,...,...,...
9995,5734,9,107,69,2,0,31.664243,0.078000,37,0
9996,5191,0,178,62,7,192,24.812998,0.575453,21,0
9997,5390,6,92,57,9,0,31.355760,0.592447,27,0
9998,860,11,158,99,16,31,27.478041,0.268134,59,0
9999,7270,8,69,102,32,0,48.611362,0.308049,30,0

In [18]:
train_data.shape, test_data.shape

((8000, 10), (2000, 10))

In [19]:
X_train = train_data.drop(['Outcome'], axis=1)
y_train = train_data['Outcome']
X_test = test_data.drop(['Outcome'], axis=1)
y_test = test_data['Outcome']

In [20]:
X_train.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6252,0,49,16,3,111,12.706915,0.408102,24
1,4684,6,151,91,1,63,42.754504,0.078000,29
2,1731,4,104,65,49,201,36.673367,0.492843,21
3,4742,3,115,60,24,28,32.738281,0.557827,21
4,4521,0,125,64,17,197,31.723835,0.753576,21

In [21]:
y_train.head()

0    0
1    1
2    0
3    0
4    1
Name: Outcome, dtype: int64

In [22]:
X_test.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
8000,399,4,99,72,7,109,28.907563,0.311843,32
8001,7247,7,144,64,8,108,25.898019,0.176388,31
8002,6406,0,118,87,58,257,44.880034,0.806956,25
8003,882,7,71,50,7,0,37.581558,0.508558,43
8004,3565,1,76,56,28,168,44.582454,0.587076,31

In [23]:
y_test.head()

8000    0
8001    0
8002    1
8003    0
8004    0
Name: Outcome, dtype: int64

# ***3. Comparison of Stochastic Gradient Descent and Batch Gradient Descent using Linear Regression***

## **_Stochastic Gradient Descent_**

In [25]:
def Stochastic_gradient_descent(x,y, learning_rate, epochs):

    costIteration = []  # For storing the cost function at each iteration
    theta = np.ones((1,x.shape[1]))# Initializing thetas with 0s

    m = y.size


    for i in range(epochs):
      index=np.random.randint(0,x.shape[1]-1)
      x_sample=x.loc[index,:]
      y_sample=y.loc[index,:]
      h = x_sample.dot(theta.T)
      diff=h-y_sample.values
      theta = theta - learning_rate*(diff[0]*x_sample.values)
      print("f{i} epochs completed")
    return theta

In [27]:
theta=Stochastic_gradient_descent(X_train, y_train, 0.1, 10)
theta

IndexingError: Too many indexers